footer {
	width: 100%;
	bottom: 0px;
	left: 0px;
	/* position: fixed; */
}

.footer-content {
	background-color: var(--black);
	margin: 0 auto;
	padding-top: 30px;
	padding-bottom: 30px;
	display: flex;
	flex-direction: row;
	align-items: center;
	/* justify-content: space-between; */
}

.footer-content p {
	font-size: 16px;
	color: #fff;
	font-weight: 600;
	margin-left: 20px;
}
