header {
	margin: 0;
	background-color: var(--black);
	height: 70px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	width: 100%;
	top: 0px;
	left: 0px;
	/* position: fixed; */
}
