.App-content {
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: space-between;
	min-height: 100vh;
	margin: 0;
	background: #000000;
	position: relative;
}

.headers-content {
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
	justify-content: space-between;
}

.filter-input-container {
	width: 60%;
}

.filter-input {
	border: none;
	border-radius: 3px;
	padding: 4px 8px;
	font-size: 20px;
}

.submitBtn {
	margin-left: 5px;
	border: none;
	padding: 8px 12px;
	border-radius: 3px;
}

.logOut-container {
	width: 10%;
}

.btn {
	padding: 10px 30px;
	border: none;
	font-size: 18px;
	font-weight: 600;
	border-radius: 5px;
	background-color: var(--purple);
}

.btn:hover {
	background-color: rgb(135, 135, 224);
}

.main-content-holder {
	background-image: url('../../images/night-gray.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 100%;

	flex-direction: column;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	flex: auto;
}

.main-content-top {
	width: 60%;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	margin-top: 20px;
}

.mySongs-container {
	margin: 0 auto;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;

	text-align: left;
}

.mySongs-paragraph {
	font-size: 36px;
	font-weight: 600;
}

.addSong-container {
	display: flex;
	flex-direction: row;
}

.addSong-btn {
	padding-left: 50px;
	padding-right: 50px;
}

.main-content-middle {
	width: 60%;
	margin: 0 auto;
	display: flex;
	margin-top: 20px;
	margin-bottom: 20px;
}

.pagination-container {
	position: fixed;
	background-color: aliceblue;
	width: 100%;
	text-align: center;
	bottom: 5%;
}

.pagination-container span {
	font-size: 20px;
	justify-content: center;
	align-items: center;
	border: 2px solid gray;
	margin: 3px;
	padding: 5px 10px;
	border-radius: 5px;
}
