.song-card {
	width: 100%;
	margin: 0 auto;
	background-color: #a5a4af;

	padding: 10px 20px;
}

.song-card-content {
	background-color: #dfdfe1;
	width: 100%;
	display: flex;
	flex-direction: row;
}

.song-card-img-container {
	width: 20%;
	background-color: rgb(24, 25, 26);
}

.song-card-text {
	width: 80%;
	display: flex;
	flex-direction: column;
	/* text-align: start; */
}

.song-card-text > * {
	padding: 10px 10px;
}

.song-memory {
	display: flex;
	justify-content: flex-start;
}

.song-memory p {
	font-size: 23px;
}

.song-keywords {
	display: flex;
	justify-content: flex-end;
	/* padding-right: 20px; */
}

.song-keywords p {
	font-size: 22px;
}

.song-card-buttons {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	gap: 10px;
}
