.App {
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	min-width: 600px;
	background-color: var(--true-black);
	min-height: 100vh;
}

main {
	background-color: var(--true-black);
}

.main-content {
	background-image: url('../../images/night-gray.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

	flex-direction: column;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	flex: auto;
}

.card {
	background-color: var(--true-white);
	border-radius: 5px;
	min-width: 350px;
	margin: 20px auto;
	padding: 40px;
}

.card-paragraph {
	font-size: 35px;
	font-weight: 600;
}

.card-content {
	padding: 10px 40px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 40px;
	margin: 30px 20px 10px 20px;
}

.signIn-content,
.signUp-content {
	padding: 20px 0;
}

.title {
	font-size: 26px;
}

.link {
	padding-top: 10px;
	font-size: 20px;
	color: rgb(94, 94, 210);
	font-weight: 600;
}

.link:hover {
	color: var(--black);
}
